 NCCL_P2P_DISABLE=1 accelerate launch --config_file ACCELREATE_CONFIG_YAML trainer/train_text_to_image_sdxl.py \
  --pretrained_model_name_or_path="SDXL_PRETRAIN_WEIGHT" \
  --pretrained_vae_model_name_or_path="SDXL_VAE_PRETRAIN_WEIGHT_OPTIONAL" \
  --force_32bit_vae \
  --train_data_dir="DATASET_DIR" \
  --vae_type=EQVAE \
  --skip_validation=True \
  --weighted_sample=False \
  --bucket_mode="maxfit" \
  --bucket_side_min=256 \
  --bucket_side_max=1280 \
  --multi_resolution=512,574,640,704,768,832,896,960,1024 \
  --output_bucket_info=True \
  --train_batch_size=1 \
  --dataloader_num_workers=4 \
  --ucg=0.01 \
  --num_train_epochs=30 --checkpointing_steps=8000 --first_checkpointing_steps=2000 \
  --learning_rate=5e-6 --lr_scheduler="multistep_lr" --multistep_milestone=400000,800000,1200000 --lr_warmup_steps=0 \
  --seed=42 \
  --output_dir="OUTPUT_DIR" \
  --validation_epochs=10000 \
  --cache_dir "HF_CACHE_DIR" \
  --mixed_precision="fp16" \
  --enable_xformers_memory_efficient_attention \
  --gradient_accumulation_steps=1 \
  --local_files_only=False \
  --use_8bit_adam \
  --gradient_checkpointing

#  --variant "fp16" \
#  --resume_from_checkpoint="latest" \
#  --report_to="wandb" \
